<!DOCTYPE html>
<html>
    <head>
        <title>Friends</title>
    </head>
    <body style="background-color:lightblue">
        <nav>
            <a href="3.3.Profile.html" style="margin-right:100px"> Profile</a>
            <a href="3.2.Friends.html" style="margin-right:100px">Friends</a>
            <a href="3.1.Information.html"  style="margin-right:100px">Additional Information</a>
        </nav>
        <section>
            <hr/>
            <h1><b><i>Friends of Doncho</i></b></h1>
            <hr/>
            <ol type="1">
                <li>Pesho Ivanov</li>
                <ul style="list-style:none">
                   <li>Student</li>
                </ul>
                <li>Vankata</li>
                <ul style="list-style:none">
                    <li>Softwate developer</li>
                </ul>
                <li>Bai Gosho</li>
                <ul style="list-style:none">
                    <li>System admin</li>
                </ul>
            </ol>

        </section>
    </body>
</html>
