<!DOCTYPE html>
<html>
    <head>
        <title>
            First task - Hello Stranger
        </title>
    </head>
    <body>
        <header>
        <p>Hello, Stanger!</p>
        </header>
        <section>
            <h1>
                Welcome to Runners Home<sup>TM</sup>
            </h1>
            <br />
            <p>
                Runners Home<sup>TM</sup> is dedicated to provide you with:
                <p>
                    -the most up-to-date information in running races
                </p>
                <p>
                    -the best resourses for runners
                </p>
            </p>
            <hr  size="6px"/>

        </section>
        <footer>
            <div>
                &copy Runners Home. All rights reserved.
            </div>
        </footer>
        
    </body>
</html>
