<!DOCTYPE html>
<html>
    <head>
        <title>Web Page With Semantic</title>
    </head>
    <body>
        <header>
            <h1> <img src="Images/nindja.jpg" alt="nindja" width="30" height="30" /> Welcome to our website </h1>
        </header>
        <nav>
            <ul>
                <li>
                    <a href="#">Nav Item 1</a>
                </li>
                <li>
                    <a href="#">Nav Item 1</a>
                </li>
                <li>
                    <a href="#">Nav Item 1</a>
                </li>
                <li>
                    <a href="#">Nav Item 1</a>
                </li>
            </ul>
        </nav>
        <section>
            <article>
                <table border="1" style="border-collapse:collapse">
                    <thead>
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Dnoncho</td>
                            <td>Minkov</td>
                            <td>4.54</td>
                        </tr>
                        <tr>
                            <td>Svetlin</td>
                            <td>Nakov</td>
                            <td>4.31</td>
                        </tr>
                        <tr>
                            <td>Georgi</td>
                            <td>Georgiev</td>
                            <td>4.54</td>
                        </tr>
                    </tbody>
                </table>
            </article>
        </section>
    </body>
</html>
