<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div id="js-console">
            <label>Click the button to see maximal sequence of equal elements in array</label>
            <input type="button" value="Check" onclick="maximalSequence()" />
        </div>
         <script src="scripts/js-console.js"></script>
        <script>
            //3.Write a script that finds the maximal sequence of equal elements in an array.
            //Example: {1, 1, 1, 1, 3, 3, 2, 2, 2, 1}  {2, 2, 2}.
            function maximalSequence() {
                var array = [2, 1, 3, 3, 3, 3, 2, 2, 2, 2];
                jsConsole.writeLine('Our array is: ' + array.join(', '));
                var maxCounter = 1;
                var counter = 1;
                var currentElement=0;
                var elementInMaxSequence=0;
                var i;
              
                for ( i = 0; i < array.length-1; i++) {
                    if (array[i] === array[i + 1]) {
                        counter++;
                        currentElement = array[i];
                    }
                    else {
                        if (counter > maxCounter) {
                            maxCounter = counter;
                            elementInMaxSequence = array[i];
                            counter = 1;
                        }
                        else {
                            counter = 1;
                        }
                    }
                }
                if (counter > maxCounter) {
                    maxCounter = counter;
                    elementInMaxSequence = array[i];
                }
                var finalArray=new Array(maxCounter);
                for ( i = 0; i < finalArray.length; i++) {
                    finalArray[i] = elementInMaxSequence;
                }
                jsConsole.writeLine('Longest sequence is by' + ' ' + maxCounter + ' ' + 'elements and they are ' + ' ' + finalArray.join(', '));
            }
        </script>
    </body>
</html>
