body ul li {
  list-style-type: none;
  display: inline-block; }
  body ul li input {
    display: none; }
    body ul li input:checked + label div {
      display: inline-block; }
body ul div {
  display: none;
  position: absolute;
  left: 47px;
  top: 175px; }

