<!DOCTYPE html>
<html>
    <head>
        <title>Biggest of three numbers</title>
    </head>
    <body>
        <div id="js-console">
            <div>
                <label for="firstNum">Enter first number:</label>
                <input type="text" id="firstNum" />
            </div>
            <div>
                <label for="secondNum">Enter second number:</label>
                <input type="text" id="secondNum" />
            </div>
            <div>
                <label for="thirdNum">Enter third number:</label>
                <input type="text" id="thirdNum" />
            </div>
            <div>
                <label>Click the button to see the biggest number</label>
                <input type="button" value="Check" onclick="biggestNumber()" />
            </div>
        </div>
        <script src="scripts/js-console.js"></script>
        <script>

            //3.Write a script that finds the biggest of three integers using nested if statements.
            function biggestNumber() {
                var firstNumber = jsConsole.readFloat("#firstNum");
                var secondNumber = jsConsole.readFloat("#secondNum");
                var thirdNumber = jsConsole.readFloat("#thirdNum");
                if (firstNumber > secondNumber) {
                    if (firstNumber > thirdNumber) {
                        jsConsole.writeLine('First number is biggest number!');
                    }
                    else {
                        jsConsole.writeLine('Third number is biggest number!');
                    }
                }
                else {
                    if (secondNumber > thirdNumber) {
                        jsConsole.writeLine('Second number is biggest number!');
                    }
                    else {
                        jsConsole.writeLine('Third number is biggest number!');
                    }
                }
            }
        </script>

    </body>
</html>
