<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
         <div id="js-console">
            <div>
                <label for="number">Input the number that will be the upper limit of the row of numbers</label>
                <input type="text" id="number" />
            </div>
            <div>
                <label>Click the button to see the result</label>
                <input type="button" value="Check" onclick="numberRowExceptDiv21()" />
            </div>
        </div>
        <script src="scripts/js-console.js"></script>
        <script>
            //2.Write a script that prints all the numbers from 1 to N, that are not divisible by 3 and 7 at the same time
            function numberRowExceptDiv21() {
                var number = jsConsole.readFloat("#number");
                var strNum = "";
                for (var i = 1; i < number-1; i++) {
                    if (i % 21 !== 0) {
                        strNum = strNum + i + ',';
                    }
                }
                if (number % 21 !== 0) {
                    if ((number - 1) % 21 !== 0) {
                        strNum = strNum + (number - 1) + ',' + number;
                    }
                    else {
                        strNum = strNum + number;
                    }
                }
                else {
                    strNum = strNum + (number - 1);
                }
                jsConsole.writeLine(strNum)
            }
        </script>
    </body>
</html>
