<!DOCTYPE html>
<html>
    <head>
        <title>Assign Literals to Different Variables</title>
    </head>
    <body>
        <div id="js-console"></div>
        <script src="scripts/js-console.js"></script>
        <script>
            //1.Assign all the possible JavaScript literals to different variables
            
            var array = ["Ford", "Opel", "BMW", "Mercedes"];
            jsConsole.writeLine("Elements in array are" + ' ' + array);
            var bool = true;
            var floatingPointNumber = 12.123;
            var number = 15;
            var someString = "This is string literal!"
            var undefinedValue = undefined;
            var check = null;
        </script>
    </body>
</html>
