<!DOCTYPE html>
<html>
    <head>
        <title>String Variable with Quoted </title>
    </head>
    <body>
        <div id="js-console"></div>
        <script src="scripts/js-console.js"></script>
        <script>
            //2.Create a string variable with quoted text in it. For example: 'How you doin'?', Joey said.
            var firstSentences = " 'How do you doin?',Joey said.";
            var secondSentences = ' "How do you doin ?", Joey said '; //More correct way for quotes!
            jsConsole.writeLine(firstSentences);
            jsConsole.writeLine(secondSentences);
        </script>
    </body>
</html>
