body 
{
    padding:0px;
    margin:0px;
    background-color:#f1f1f1;
    font-family:Verdana;
}

.left
{
   width:12%; 
   display:inline-block;
   vertical-align:top;
}
section
{
    width:40%;
    display:inline-block;
    border:1px solid black;
    background-color:white;
}
.right
{
    width:12%;
    display:inline-block;
    vertical-align:top;
    margin-left:-5px;
    
}
    .right div
    {
        border:1px solid black;
        background-color:white;
        margin:2px;
    }
        .right div:first-of-type
        {
            height:92px;
        }
ul
{
    padding-left:2px;
}
    ul li
    {
        list-style-type:none;
        margin-top:-5px;         
    }
        ul li:first-of-type
        {
            color:#890000;
            font-weight:bold;
            font-size:11px;
        }
        ul li a
        {
            text-decoration:none;
            color:black;
            font-size:10px;
        }
            ul li a:hover
            {
                text-decoration:underline;
            }
.home
{
    padding-left:20px;
    font-size:12px;
    background-image:url("Images-task 4/house.png");
    background-repeat:no-repeat;
    background-position: 0px -4px;
}
nav div h3
{
    font-size:12px;
}
.gray
{
    background-color:#808080;
    color:white;
    font-size:11px;
}
img
{
    display:inline-block;
    width:22%;
}
a
{
    color:#890000
}
.position
{ 
    display:inline-block;
    font-size:12px;
    font-weight:bold;
    width:70%;
    margin-bottom:20px;
}
.outerdiv
{
    height:120px;
}
.previous
{
    text-decoration:none;
    border:1px solid black;
    margin-left:10px;
    padding-right:30px;
}
.next
{
   text-decoration:none;
   border:1px solid black;
   padding-left:30px;
}
article
{
    font-size:10px;
}
footer
{
    margin-bottom:20px;
}
div>header h3
{
    margin-top:0px;
}
.text
{
    width:100px;
    margin-left:10px;
}
.button
{
    border:1px solid black;
    border-radius:3px;
    width:25px;
}
.seablue
{
    border:1px solid black;
    text-align:center;
    font-size:12px;
    color:#75d7fc;
    background-color:#c6e9fb;
    padding:5px 10px 5px 10px;
    width:100px;
    margin-left:20px;
    margin-top:2px;
    margin-bottom:2px;
    
}
aside div a
{
    display:block;
    text-align:center;
    font-size:11px;   
}
    aside div a:first-of-type
    {
        padding-top:3px;
    }
    aside div a:last-of-type
    {
        padding-bottom:3px;
    }