<!DOCTYPE html>
<html>
    <head>
        <title>Task 6 - Styles</title>
        <link href="Task6-Styles.css" rel="stylesheet" />
    </head>
    <body>
        <div class="body">
            <header>
                <nav>
                    <ul>
                        <li><a href="#" id="news">Новините</a></li>
                        <li><a href="#">Спорт</a></li>
                        <li><a href="#">Емисии</a></li>
                        <li><a href="#">Любопитно</a></li>
                        <li><a href="#">Аз, репортерът</a></li>
                        <li><a href="#">Тази сутрин</a></li>
                    </ul>
                </nav>
            </header>
            <section>
                <ul>
                    <li class="news"><a href="#" id="news">Интернет новини - 13.07.2010г.</a></li>
                    <li><a href="#">Проливни дъждове в Дания, Китай и Индия, необичайни горещини в Иран</a></li>
                    <li><a href="#">Над 200 хектара горят на територията на бивш военен полигон в Германия</a></li>
                    <li><a href="#">23-а ранени при сблъсък на два пътнически влака в Полша</a></li>
                    <li><a href="#">Диферинцират от догодина минималния осигурителен доход за самоосигуряващите се</a></li>
                </ul>
                <img src="Images-task 6/BTV news.png" />
            </section>
        </div>
    </body>
</html>
