<!DOCTYPE html>
<html>
    <head>
        <title>Task 4 - Learn CSS</title>
        <link href="Task4-Styles.css" rel="stylesheet" />
    </head>
    <body>
        <div class="body">
            <aside class="left">
                <nav>
                    <div class="home">
                        <h3>HOME</h3>
                    </div>
                    <ul>
                        <li class="first member">CSS Basic</li>
                        <li><a href="#">CSS Introduction</a></li>
                        <li><a href="#">CSS Syntax</a></li>
                        <li><a href="#">CSS How To</a></li>
                        <li><a href="#">CSS Background</a></li>
                        <li><a href="#">CSS Text</a></li>
                        <li><a href="#">CSS Font</a></li>
                        <li><a href="#">CSS Border</a></li>
                        <li><a href="#">CSS Outline</a></li>
                        <li><a href="#">CSS Margin</a></li>
                        <li><a href="#">CSS Padding</a></li>
                        <li><a href="#">CSS List</a></li>
                        <li><a href="#">CSS Table</a></li>
                    </ul>
                    <ul>
                        <li class="first member">CSS Advanced</li>
                        <li><a href="#">CSS Dimension</a></li>
                        <li><a href="#">CSS Classification</a></li>
                        <li><a href="#">CSS Positioning</a></li>
                        <li><a href="#">CSS Pseudo-class</a></li>
                        <li><a href="#">CSS Pseudo-element</a></li>
                        <li><a href="#">CSS Image Galery</a></li>
                        <li><a href="#">CSS Image Opacity</a></li>
                        <li><a href="#">CSS Media Types</a></li>
                        <li><a href="#">CSS Don't</a></li>
                        <li><a href="#">CSS Summary</a></li>
                    </ul>
                    <ul>
                        <li class="first">CSS Examples</li>
                        <li><a href="#">CSS Examples</a></li>
                    </ul>
                    <ul>
                        <li class="first">References</li>
                        <li><a href="#">CSS2 Reference</a></li>
                        <li><a href="#">CSS2 Print</a></li>
                        <li><a href="#">CSS2 Aural</a></li>
                        <li><a href="#">CSS Units</a></li>
                        <li><a href="#">CSS Colors</a></li>
                        <li><a href="#">CSS Colorvalues</a></li>
                        <li><a href="#">CSS Colornames</a></li>
                    </ul>
                    <ul>
                        <li class="first">CSS Quiz</li>
                        <li><a href="#">CSS Quiz</a></li>
                        <li><a href="#">CSS Exam</a></li>
                    </ul>
                </nav>
            </aside>
            <section>
                    <header>
                        <h1>CSS Tutorials</h1>
                        <a href="#" class="previous">&ensp; &#9668; &ensp;Previous</a> <!-- &ensp - прави интервал &#9668 - прави плътна стрелка -->
                        <a href="#" class="next">Next &ensp; &#9658; &ensp;</a>
                        <hr />
                    </header>
                    <article>
                        <header>
                            <h3 class="gray">CSS Tutorials</h3>
                        </header>
                        <div class="outerdiv">
                            <img src="Images-Task 4/CSS.png" />
                            <div class="position">
                                <p>Save a lot of work with CSS</p>
                                <p>In our CSS tutorial you will 
                                   learn how to use CSS to control the 
                                   style and layout of multiple Web pages all at once</p>
                                <p><a href="#">Start learnind CSS!</a></p>
                            </div>
                         </div>
                    </article>
                    <article>
                        <header>
                            <h3 class="gray">CSS Examples</h3>
                        </header>
                        <div>
                            <p>Learn by 70 examples! With our editor, you can edit CSS, and click
                               on the test button to view the result. 
                            </p>
                            <p><a href="#">Try-It-Yourself!</a></p>
                        </div>
                    </article>
                    <article>
                        <header>
                            <h3 class="gray">CSS Reference</h3>
                        </header>
                        <div>
                            <p>
                                At W3School you will find a complete CSS2 reference,
                                listing properties, units of measurements, colors, and more.
                            </p>
                            <p><a href="#">CSS2 Reference</a></p>
                        </div>
                    </article>
                    <article>
                        <header>
                            <h3 class="gray">CSS Quiz Test</h3>
                        </header>
                        <div>
                            <p>Test your CSS skills at W3Schools!</p>
                            <p><a href="#">Start CSS Quiz</a></p>
                        </div>
                    </article>
                <hr />
                <footer>
                    <a href="#" class="previous">&ensp; &#9668; &ensp;Previous</a> <!-- &ensp - прави интервал &#9668 - прави плътна стрелка -->
                    <a href="#" class="next">Next &ensp; &#9658; &ensp;</a>
                    <hr />
                </footer>
            </section>
            <aside class="right">
                <div>
                    <header>
                        <h3 class="gray">SITE SEARCH</h3>
                    </header>
                    <input type="text" class="text" />
                    <input type="button" class="button" value="..." />
                    <a href="#">About W3Schools</a>
                    <a href="#">W3Schools Fotum</a>
                </div>
                <div>
                    <p class="seablue">25 + Styles!</p>
                    <a href="#">Dynamic button image</a>
                    <a href="#">generation</a>
                </div>
                <div>
                    <header>
                        <h3 class="gray">WEB HOSTING</h3>
                    </header>
                    <a href="#">$15 Domain Name</a>
                    <a href="#">Registration</a>
                    <a href="#">Save $20 / year!</a>
                </div>
                <div>
                    <a href="#">UK Domain Names</a>
                    <a href="#">UK Web Hosting</a>
                    <a href="#">Alojameinto Web</a>
                </div>
                <div>
                    <a href="#">Buy UK Domain Names</a>
                    <a href="#">Register Domain Names</a>
                </div>
                <div>
                    <a href="#">Cheap Domain Names</a>
                    <a href="#">Cheap Web Hosting</a>
                </div>
                <div>
                    <a href="#">Best Web Hosting</a>
                </div>
                <div>
                    <a href="#">Domain Name</a>
                    <a href="#">Registration</a>
                </div>
                <div>
                    <a href="#">PHP MySQL Hosting</a>
                </div>
                <div>
                    <a href="#">Top 10 Web Hosting</a>
                </div>
                <div>
                    <a href="#">Web Hosting Providers</a>
                </div>
                <div>
                    <a href="#">Web Hosting Company</a>
                </div>
                <div>
                    <a href="#">Web Hosting Reviews</a>
                </div>
                <div>
                    <a href="#">UK Web Hosting</a>
                </div>
            </aside>
        </div>
    </body>
</html>
