<!DOCTYPE html>
<html>
    <head>
        <title>Graphics with Canvas</title>
        <style>
            #the-canvas{
			border:1px solid black;

		}

        </style>
    </head>
    
    <body>
        <canvas id="the-canvas" width="900" height="600"></canvas>
        <script src="Graphics.js"></script>
    </body>
</html>
