<!DOCTYPE html>
<html>
    <head>
        <title>Circle Inside Box</title>
        <style>
            #the-canvas
            {
                border:1px solid black;
            }
        </style>
    </head>
    <body>
        <canvas id="the-canvas" width="500" height="300"></canvas>
        <script src="Circle.js"></script>
    </body>
</html>
