*
{
    margin:0;
    padding:0;
}
body 
{
    font-family:sans-serif;
}
table
{
    width:700px;
    height:150px;
    border:1px solid;
    border-collapse:collapse;
}
th
{
    background-color:#66FF33;
    color:#FFFFFF;
    text-align:left;
    padding:5px 20px 5px 5px;
    border-bottom:1px solid black;
    border-right:1px solid black; 
}
td
{ 
    border-right:1px solid black;
    padding:5px 20px 5px 5px;
}
tr:nth-of-type(2n)
{
    background-color:#B5B5CE;
}
.Germany
{
    background-image:url("Images/Germany.png");
    background-repeat:no-repeat;
    background-position: 8px 8px;
    padding-left:30px;
}
.Mexico
{
    background-image:url("Images/Mexico.png");
    background-repeat:no-repeat;
    background-position: 8px 8px;
    padding-left:30px;
}
.Mexico1
{
    background-image:url("Images/Mexico1.png");
    background-repeat:no-repeat;
    background-position:8px 8px;
    background-size:16px 11px;
    padding-left:30px;
}
.UK
{
    background-image:url("Images/UK.png");
    background-repeat:no-repeat;
    background-position: 8px 8px;
    padding-left:30px;
}
.proba
{
    
}


