<!DOCTYPE html>
<html>
    <head>
        <title>Task 1 - Registry With Table</title>
        <link href="Style1.css" rel="stylesheet" />
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th colspan="2" class="grey">
                       Ticket ID:409788 
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="white">Name:</td>
                    <td>
                        <p class="yellow"><img src="Images/Green dot.png" alt="DOT"/>Parker Siedel</p><!--Firefox не показва точката -->
                        <p class="red">No Acctive Support</p>
                    </td>
                </tr>
                <tr>
                    <td class="white">Email:</td>
                    <td class="yellow"><a href="#">siedel@aptmail.com</a></td>
                </tr>
                <tr>
                    <td class="white">Response Time:</td>
                    <td class="grey">72 hours, 60 hours left</td>
                </tr>
                <tr>
                    <td class="white">Last Action:</td>
                    <td class="grey">
                        <p>Never been locked</p>
                        <p><a href="#">Link to public post</a></p>
                    </td>
                </tr>
                <tr>
                    <td class="white">Status:</td>
                    <td class="orange">Not answered</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
