<!DOCTYPE html>
<html>
    <head>
        <title>HTML Page With Forms</title>
    </head>
    <body>
        <form>
            <label for="Mname">Member name:</label>
            <input type="text"  id="Mname" />
            <span>*req</span>
            <br />
            <label for="Email">Email:</label>
            <input type="text" id="Email" />
            <span>*req</span>
            <br />
            <label for="School">School:</label>
            <input type="text" id="School" />
            <span>*req</span>
            <br />
            <input type="image" src="Images/Submit.jpg" width="40" alt="submit" />
        </form>
    </body>
</html>
