body {
    
    width:auto;
}
section p
{
    font-family:Consolas;
    color:#1698f6;
    font-size:12px;
}
section p:first-line
{
    font-weight:bold;
    margin-bottom:50px;
    
}

p:first-letter
{
    font-size:2.2em;
    font-family:'Edwardian Script ITC';
}

