<!DOCTYPE html>
<html>
    <head>
        <title>Third Digit Right to Left</title>
    </head>
    <body>
        <div id="js-console">
            <div>
                <label for="number">Enter a number for checkling third digit</label>
                <input type="text" id="number" />
            </div>
            <div>
                <label>Click the button fot checking the result </label>
                <input type="button" value="Check" onclick="NumberForChecking()" />
            </div>
        </div>
        <script src="scripts/js-console.js"></script>
        <script>
            //4.Write an expression that checks for given integer if its third digit (right-to-left) is 7. E. g. 1732  true.
            function NumberForChecking() {
                var number = jsConsole.read("#number");
                var bool = true;
                var balance = Math.floor(number / 100);
                if (balance % 10 == 7) {
                    jsConsole.writeLine('Third digit (right to left) of' + ' ' + number + ' ' + 'is 7!' + bool);
                }
                else {
                    bool=false
                    jsConsole.writeLine('Third digit (right to left) of' + ' ' + number + ' ' + 'is NOT 7!' + bool);
                }    
            }
        </script>
    </body>
</html>
